html{
    color: white;
    background-color: black;
}

#image{
    width: 100%;
    border: 5px solid white;
}

div{
    width: 50%;
    margin-left: 25%;
    margin-top: 80px;
}

#text{
    text-align: center;
}

h1{
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
}

